
.header{
    display: flex;
    background-color: rgba($color: #0d6efd, $alpha: 1.0);
    align-items: center;
    padding: 20px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
}

.nav-link {
    color: aliceblue;
}

.titulo{
    margin-bottom: 2rem;
}

.nav-item{
    padding-right: 2rem;
    padding-left: 2rem;
}
.h1{
    color: aliceblue;
}
